# Server
PORT=5000
NODE_ENV=
CLIENT_URL=

# Database
MONGO_URI=
# Auth
JWT_SECRET=
JWT_EXPIRES_IN=

# # Razorpay (bonus - payments)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# # Seed admin (used only by npm run seed)
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
